*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
   
}

html{
    scroll-behavior: smooth;
}

img{
    width: 100%;
    height: 100%;
}

body{
    background: #e2e2e2;
    font-family: "lato";
    background: url(../img/fondo2.png)
}


.menu{
    list-style: 0;
    padding: 0;
    background: black;
    width: 90%;
    max-width: 1000px;
    margin: auto;


}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;

}

.menu li a:hover{
    background:  #21618C;
}

.contenedor{
    width: 100%;
    position: relative;
    height: 780px;
}

.botones{

    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0,0,0, .7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255,255, .6);
    -webkit-transition: all .3s ease;
    -o-transition:all 3s ease ;
    transition: all 3s ease;
    

}

.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);

}

.atras{
    left: 2%;
    top: calc(50% - 70px);
}

.adelante{
    right: 2%;
    top: calc(50% - 70px)
}

.parrafo  {
    text-align: center;
    line-height: 25px;
    margin: 0px 20px 0px 20px;
    
    height: 100vh;
}

.parrafoC h1{

    font-size: 40px;
    padding: 20px;
    
}

.parrafoC p{
    text-align: justify;
}
.portafolio{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.portafolio h1{
    text-align: center;
    font-size: 38px ;
    margin:15px 0px 40px;


}

.portafolioC{
    display: flex;
    justify-content: space-between;
     
}

.portafolioI{
    width: 30%;
    position: relative;
    overflow: hidden;
   
}

.portafolioT{
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: rgba(0,0,0, .7);
    color: white;

    transform: translateY(100%);
    
    
}

.portafolioI:hover .portafolioT{
    transform: translateY(0%) ;

}


.portafolioT p{
    text-align: justify;
}
.portafolioIMG{
    transition: all 0.5s;
}


.portafolioI:hover .portafolioIMG{
    transform: scale(1.15);
}

.aboutme{
    width: 50%;
    max-width: 1800px;
   
    background: rgba(0,0,0, .4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px;
    height: 150vh;
}

.aboutimg{
    border-radius: 50%;
}

.aboutme h1{

    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;

}

.aboutme h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin:20px;

}

.aboutme p{
    text-align: center;
}


.contenedor .form .form-header .form-title{

    font-weight: normal;
    font-family: sans-serif;
    color: white;
    text-align: center;
    padding: 14px 0 ;
}

.contenedor .form .form-header .form-title span{

    color: white;

}

.contenedor .form{

    background: rgba(0, 0, 0, .6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.contenedor .form .form-label{
    display: block;
    color:blue;
    font-size: 16px;
    position: relative;
    
}

.contenedor .form .form-input, .form-textarea{

    background: rgba(0,0,0, .7);
    border: none;
    outline: none;
    border-bottom: 2px solid  #21618C;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
}

.contenedor .form .form-textarea{
    resize: vertical;
    max-height: 150px;
    min-width: 50px;
}

.contenedor .form .btn-submit{

    width: 100%;
    outline: none;
    background: #21618C;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;


}
.contenedor .form .btn-submit:hover{
    background: #21618C ;
}

.aboutme ul{
    list-style: none;
    margin-top: 20px;


}

.aboutme ul li{
    display: inline-block;
}

.aboutme ul li a{
    color: white;
    font-size: 45px;
    padding: 10px 5px;
    display:block;
    transition: all 0.5s ease-in-out;
}

.aboutme ul li a:hover{
    color: white;
    transform: scale(1,.3);
}
